In [14]:
import pandas as pd
df = pd.read_csv('dot1_1022.csv')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.2f}'.format

In [5]:
# Replaced Integers 1 & 2 with strings 'Export' & 'Import', respectively.

df['TRDTYPE'] = df['TRDTYPE'].map({
    1 : 'Export',
    2 : 'Import',
})

In [6]:
# Replaced Integers 1 & 2 with strings 'Domestic' & 'Foreign', respectively.

df['DF'] = df['DF'].map({
    1 : 'Domestic',
    2 : 'Foreign', 
})

In [7]:
# Replaced Integers with respective string values.

df['DISAGMOT'] = df['DISAGMOT'].map({
    1 : 'Vessel',
    3 : 'Air',
    4 : 'USPS', 
    5 : 'Truck',
    6 : 'Rail',
    7 : 'Pipeline',
    8 : 'Other',
    9 : 'FTZ',
})

In [8]:
# Dropped unneeded columns.

df = df[['TRDTYPE', 'USASTATE', 
#          'DEPE', 
         'DISAGMOT', 
#          'MEXSTATE', 'CANPROV', 'COUNTRY', 
         'VALUE', 'SHIPWT', 'FREIGHT_CHARGES', 'DF', 
#          'CONTCODE', 'MONTH', 'YEAR'
]]

In [6]:
df.head()

  TRDTYPE USASTATE DISAGMOT   VALUE  SHIPWT  FREIGHT_CHARGES        DF
0  Export       AK    Truck    2875       0               21  Domestic
1  Export       AK      Air    2568       4               65  Domestic
2  Export       AK      Air   94896     905             5211  Domestic
3  Export       AK      Air   35776     256              491   Foreign
4  Export       AK      Air  169358     536            11560  Domestic

In [7]:
X = df.loc[:, ['VALUE']]
y = df.SHIPWT

In [8]:
X.shape

(28486, 1)

In [9]:
y.shape

(28486,)

In [10]:
X.head()

    VALUE
0    2875
1    2568
2   94896
3   35776
4  169358

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
logreg = LogisticRegression(solver='lbfgs')

In [13]:
from sklearn.model_selection import cross_val_score

In [ ]:
# cross_val_score(logreg, X, y, cv=5, scoring='accuracy').mean()

In [15]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [16]:
ohe = fit_transform(df[['DISAGMOT']])

NameError: name 'fit_transform' is not defined

In [7]:
df.head()

  TRDTYPE USASTATE DISAGMOT   VALUE  SHIPWT  FREIGHT_CHARGES        DF
0  Export       AK    Truck    2875       0               21  Domestic
1  Export       AK      Air    2568       4               65  Domestic
2  Export       AK      Air   94896     905             5211  Domestic
3  Export       AK      Air   35776     256              491   Foreign
4  Export       AK      Air  169358     536            11560  Domestic

In [ ]:
df_SEStates = df[(df.USASTATE == 'LA', 'MS', 'AL', 'GA', 'SC', 'FL')]

In [14]:
df[(df['USASTATE'] == 'GA') & (df['DISAGMOT'] == 6)]

Empty DataFrame
Columns: [TRDTYPE, USASTATE, DISAGMOT, VALUE, SHIPWT, FREIGHT_CHARGES, DF]
Index: []

In [17]:
df.max()

C:\Users\jkhro\AppData\Local\Temp\ipykernel_24732\1151452817.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()

TRDTYPE                Import
USASTATE                   WY
DISAGMOT               Vessel
VALUE              3898220115
SHIPWT             7363930326
FREIGHT_CHARGES     175188532
dtype: object

In [16]:
df[df['VALUE'] == df['VALUE'].max()]

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR
20925,2,IL,39XX,7,NaN,XA,1220,3898220115,7363930326,175188532,NaN,0,10,2022

In [19]:
df.head()

  TRDTYPE USASTATE DISAGMOT   VALUE  SHIPWT  FREIGHT_CHARGES        DF
0  Export       AK    Truck    2875       0               21  Domestic
1  Export       AK      Air    2568       4               65  Domestic
2  Export       AK      Air   94896     905             5211  Domestic
3  Export       AK      Air   35776     256              491   Foreign
4  Export       AK      Air  169358     536            11560  Domestic

In [33]:
# 'number' = could seclect integer/float, but number gives both
df_numeric = df.set_index('DISAGMOT').select_dtypes('number')
df_numeric.head()

           VALUE  SHIPWT  FREIGHT_CHARGES
DISAGMOT
Truck       2875       0               21
Air         2568       4               65
Air        94896     905             5211
Air        35776     256              491
Air       169358     536            11560

In [34]:
idx = df_numeric.idxmax()
idx

VALUE              Pipeline
SHIPWT             Pipeline
FREIGHT_CHARGES    Pipeline
dtype: object

In [35]:
df_numeric.loc[idx]

               VALUE      SHIPWT  FREIGHT_CHARGES
DISAGMOT
Pipeline    43665401           0                0
Pipeline     8643136           0                0
Pipeline     1008026           0                0
Pipeline     7194970           0                0
Pipeline     3390927           0                0
Pipeline     6743587           0                0
Pipeline      905797           0                0
Pipeline     2133962           0                0
Pipeline       69276           0                0
Pipeline      904115           0                0
Pipeline   139840159           0                0
Pipeline    36277707           0                0
Pipeline     7902314           0                0
Pipeline    12283293           0                0
Pipeline     8383154           0                0
Pipeline      130740           0                0
Pipeline      295493           0                0
Pipeline    19425245           0                0
Pipeline     1954905           0                0
Pipeline    37400159           0                0
Pipeline       17521           0                0
Pipeline     6040769           0                0
Pipeline    29492612           0                0
Pipeline     1131161           0                0
Pipeline   108690300           0                0
Pipeline   237421539           0                0
Pipeline    17254422           0                0
Pipeline    80005151           0                0
Pipeline    43898104           0                0
Pipeline     2575945           0                0
Pipeline    13410813           0                0
Pipeline    72532630           0                0
Pipeline       60827           0                0
Pipeline        8692           0                0
Pipeline    13467312           0                0
Pipeline    28138605           0                0
Pipeline      939207           0                0
Pipeline     1736272           0                0
Pipeline     2968899           0                0
Pipeline     8103195           0                0
Pipeline      652475           0                0
Pipeline    10374706           0                0
Pipeline     1534768           0                0
Pipeline   161858606           0                0
Pipeline    64183443           0                0
Pipeline     9348027           0                0
Pipeline    16402153           0                0
Pipeline    88450372           0                0
Pipeline    38193483           0                0
Pipeline   232851196           0                0
Pipeline     9311191           0                0
Pipeline    47709025           0                0
Pipeline     5891034           0                0
Pipeline   308506325           0                0
Pipeline     3429586           0                0
Pipeline      318460           0                0
Pipeline     5454024           0                0
Pipeline      648598           0                0
Pipeline     6517943           0                0
Pipeline   200388833           0                0
Pipeline    19314674           0                0
Pipeline     3062484           0                0
Pipeline        6577           0                0
Pipeline      245185           0                0
Pipeline     1354720     2799900            60353
Pipeline       86805     5529000                1
Pipeline      694168     1771128           224012
Pipeline   267688603   535624091          8929269
Pipeline    26506414           0          3960728
Pipeline   249853419           0         37334419
Pipeline   112252985           0         16773435
Pipeline  3898220115  7363930326        175188532
Pipeline    72669973   102174743           719684
Pipeline    29417708    39186435           169494
Pipeline     1670174           0           249566
Pipeline    84354944           0         12604762
Pipeline     1268963     1333856             2000
Pipeline   452721394   508895883         26512219
Pipeline    27225126    57424698            13461
Pipeline     2332342           0           348511
Pipeline      550601       76144              500
Pipeline   544648898  1202705372         24516046
Pipeline    15326004    37708348           879634
Pipeline     1739196           0           259880
Pipeline     1503745           0           224698
Pipeline   147917224           0         22102574
Pipeline    46721671    98666363           222065
Pipeline     6780015    11842906             1001
Pipeline   224620625   425920625          7113841
Pipeline   159437041   342165856          4649485
Pipeline     9055910           0          1353182
Pipeline      335229           0            50092
Pipeline    56498060    71829828             1000
Pipeline    13016867    27164562             1000
Pipeline    18153120    40797192             3200
Pipeline   126652067           0         18925022
Pipeline     1426522           0           213158
Pipeline    71665489           0         10708636
Pipeline   171123682   222904084             5705
Pipeline      410261      905815            41257
Pipeline      874687     1305495            19217
Pipeline     5184040    12772543             1001
Pipeline    29123719    42515203             5000
Pipeline   579601457  1234829006         36323705
Pipeline   139224207   224732458            27600
Pipeline        3880           0              580
Pipeline   370244330   753079832         39855408
Pipeline      159118      323095              300
Pipeline     7978958    12484286            68287
Pipeline     3361349     6264771              300
Pipeline     5759005    13844589              500
Pipeline   240787060   543486277         20748150
Pipeline    61163597   132116149          6240211
Pipeline      884504           0           132167
Pipeline     4872548           0           728082
Pipeline   159124542   235718179          2830320
Pipeline   225813994           0         33742321
Pipeline   102989247   169776966          1880183
Pipeline       82814      624145                1
Pipeline     3348091           0           500290
Pipeline   331461043           0         49528662
Pipeline    34204190    60701448             2400
Pipeline     1532338     9957801             1000
Pipeline    29028850    46817343             2100
Pipeline    43665401           0                0
Pipeline     8643136           0                0
Pipeline     1008026           0                0
Pipeline     7194970           0                0
Pipeline     3390927           0                0
Pipeline     6743587           0                0
Pipeline      905797           0                0
Pipeline     2133962           0                0
Pipeline       69276           0                0
Pipeline      904115           0                0
Pipeline   139840159           0                0
Pipeline    36277707           0                0
Pipeline     7902314           0                0
Pipeline    12283293           0                0
Pipeline     8383154           0                0
Pipeline      130740           0                0
Pipeline      295493           0                0
Pipeline    19425245           0                0
Pipeline     1954905           0                0
Pipeline    37400159           0                0
Pipeline       17521           0                0
Pipeline     6040769           0                0
Pipeline    29492612           0                0
Pipeline     1131161           0                0
Pipeline   108690300           0                0
Pipeline   237421539           0                0
Pipeline    17254422           0                0
Pipeline    80005151           0                0
Pipeline    43898104           0                0
Pipeline     2575945           0                0
Pipeline    13410813           0                0
Pipeline    72532630           0                0
Pipeline       60827           0                0
Pipeline        8692           0                0
Pipeline    13467312           0                0
Pipeline    28138605           0                0
Pipeline      939207           0                0
Pipeline     1736272           0                0
Pipeline     2968899           0                0
Pipeline     8103195           0                0
Pipeline      652475           0                0
Pipeline    10374706           0                0
Pipeline     1534768           0                0
Pipeline   161858606           0                0
Pipeline    64183443           0                0
Pipeline     9348027           0                0
Pipeline    16402153           0                0
Pipeline    88450372           0                0
Pipeline    38193483           0                0
Pipeline   232851196           0                0
Pipeline     9311191           0                0
Pipeline    47709025           0                0
Pipeline     5891034           0                0
Pipeline   308506325           0                0
Pipeline     3429586           0                0
Pipeline      318460           0                0
Pipeline     5454024           0                0
Pipeline      648598           0                0
Pipeline     6517943           0                0
Pipeline   200388833           0                0
Pipeline    19314674           0                0
Pipeline     3062484           0                0
Pipeline        6577           0                0
Pipeline      245185           0                0
Pipeline     1354720     2799900            60353
Pipeline       86805     5529000                1
Pipeline      694168     1771128           224012
Pipeline   267688603   535624091          8929269
Pipeline    26506414           0          3960728
Pipeline   249853419           0         37334419
Pipeline   112252985           0         16773435
Pipeline  3898220115  7363930326        175188532
Pipeline    72669973   102174743           719684
Pipeline    29417708    39186435           169494
Pipeline     1670174           0           249566
Pipeline    84354944           0         12604762
Pipeline     1268963     1333856             2000
Pipeline   452721394   508895883         26512219
Pipeline    27225126    57424698            13461
Pipeline     2332342           0           348511
Pipeline      550601       76144              500
Pipeline   544648898  1202705372         24516046
Pipeline    15326004    37708348           879634
Pipeline     1739196           0           259880
Pipeline     1503745           0           224698
Pipeline   147917224           0         22102574
Pipeline    46721671    98666363           222065
Pipeline     6780015    11842906             1001
Pipeline   224620625   425920625          7113841
Pipeline   159437041   342165856          4649485
Pipeline     9055910           0          1353182
Pipeline      335229           0            50092
Pipeline    56498060    71829828             1000
Pipeline    13016867    27164562             1000
Pipeline    18153120    40797192             3200
Pipeline   126652067           0         18925022
Pipeline     1426522           0           213158
Pipeline    71665489           0         10708636
Pipeline   171123682   222904084             5705
Pipeline      410261      905815            41257
Pipeline      874687     1305495            19217
Pipeline     5184040    12772543             1001
Pipeline    29123719    42515203             5000
Pipeline   579601457  1234829006         36323705
Pipeline   139224207   224732458            27600
Pipeline        3880           0              580
Pipeline   370244330   753079832         39855408
Pipeline      159118      323095              300
Pipeline     7978958    12484286            68287
Pipeline     3361349     6264771              300
Pipeline     5759005    13844589              500
Pipeline   240787060   543486277         20748150
Pipeline    61163597   132116149          6240211
Pipeline      884504           0           132167
Pipeline     4872548           0           728082
Pipeline   159124542   235718179          2830320
Pipeline   225813994           0         33742321
Pipeline   102989247   169776966          1880183
Pipeline       82814      624145                1
Pipeline     3348091           0           500290
Pipeline   331461043           0         49528662
Pipeline    34204190    60701448             2400
Pipeline     1532338     9957801             1000
Pipeline    29028850    46817343             2100
Pipeline    43665401           0                0
Pipeline     8643136           0                0
Pipeline     1008026           0                0
Pipeline     7194970           0                0
Pipeline     3390927           0                0
Pipeline     6743587           0                0
Pipeline      905797           0                0
Pipeline     2133962           0                0
Pipeline       69276           0                0
Pipeline      904115           0                0
Pipeline   139840159           0                0
Pipeline    36277707           0                0
Pipeline     7902314           0                0
Pipeline    12283293           0                0
Pipeline     8383154           0                0
Pipeline      130740           0                0
Pipeline      295493           0                0
Pipeline    19425245           0                0
Pipeline     1954905           0                0
Pipeline    37400159           0                0
Pipeline       17521           0                0
Pipeline     6040769           0                0
Pipeline    29492612           0                0
Pipeline     1131161           0                0
Pipeline   108690300           0                0
Pipeline   237421539           0                0
Pipeline    17254422           0                0
Pipeline    80005151           0                0
Pipeline    43898104           0                0
Pipeline     2575945           0                0
Pipeline    13410813           0                0
Pipeline    72532630           0                0
Pipeline       60827           0                0
Pipeline        8692           0                0
Pipeline    13467312           0                0
Pipeline    28138605           0                0
Pipeline      939207           0                0
Pipeline     1736272           0                0
Pipeline     2968899           0                0
Pipeline     8103195           0                0
Pipeline      652475           0                0
Pipeline    10374706           0                0
Pipeline     1534768           0                0
Pipeline   161858606           0                0
Pipeline    64183443           0                0
Pipeline     9348027           0                0
Pipeline    16402153           0                0
Pipeline    88450372           0                0
Pipeline    38193483           0                0
Pipeline   232851196           0                0
Pipeline     9311191           0                0
Pipeline    47709025           0                0
Pipeline     5891034           0                0
Pipeline   308506325           0                0
Pipeline     3429586           0                0
Pipeline      318460           0                0
Pipeline     5454024           0                0
Pipeline      648598           0                0
Pipeline     6517943           0                0
Pipeline   200388833           0                0
Pipeline    19314674           0                0
Pipeline     3062484           0                0
Pipeline        6577           0                0
Pipeline      245185           0                0
Pipeline     1354720     2799900            60353
Pipeline       86805     5529000                1
Pipeline      694168     1771128           224012
Pipeline   267688603   535624091          8929269
Pipeline    26506414           0          3960728
Pipeline   249853419           0         37334419
Pipeline   112252985           0         16773435
Pipeline  3898220115  7363930326        175188532
Pipeline    72669973   102174743           719684
Pipeline    29417708    39186435           169494
Pipeline     1670174           0           249566
Pipeline    84354944           0         12604762
Pipeline     1268963     1333856             2000
Pipeline   452721394   508895883         26512219
Pipeline    27225126    57424698            13461
Pipeline     2332342           0           348511
Pipeline      550601       76144              500
Pipeline   544648898  1202705372         24516046
Pipeline    15326004    37708348           879634
Pipeline     1739196           0           259880
Pipeline     1503745           0           224698
Pipeline   147917224           0         22102574
Pipeline    46721671    98666363           222065
Pipeline     6780015    11842906             1001
Pipeline   224620625   425920625          7113841
Pipeline   159437041   342165856          4649485
Pipeline     9055910           0          1353182
Pipeline      335229           0            50092
Pipeline    56498060    71829828             1000
Pipeline    13016867    27164562             1000
Pipeline    18153120    40797192             3200
Pipeline   126652067           0         18925022
Pipeline     1426522           0           213158
Pipeline    71665489           0         10708636
Pipeline   171123682   222904084             5705
Pipeline      410261      905815            41257
Pipeline      874687     1305495            19217
Pipeline     5184040    12772543             1001
Pipeline    29123719    42515203             5000
Pipeline   579601457  1234829006         36323705
Pipeline   139224207   224732458            27600
Pipeline        3880           0              580
Pipeline   370244330   753079832         39855408
Pipeline      159118      323095              300
Pipeline     7978958    12484286            68287
Pipeline     3361349     6264771              300
Pipeline     5759005    13844589              500
Pipeline   240787060   543486277         20748150
Pipeline    61163597   132116149          6240211
Pipeline      884504           0           132167
Pipeline     4872548           0           728082
Pipeline   159124542   235718179          2830320
Pipeline   225813994           0         33742321
Pipeline   102989247   169776966          1880183
Pipeline       82814      624145                1
Pipeline     3348091           0           500290
Pipeline   331461043           0         49528662
Pipeline    34204190    60701448             2400
Pipeline     1532338     9957801             1000
Pipeline    29028850    46817343             2100

In [9]:
df_numeric = df.set_index(['DISAGMOT', 'USASTATE']).select_dtypes('number')

In [10]:
df_numeric.head()

                    VALUE  SHIPWT  FREIGHT_CHARGES
DISAGMOT USASTATE
Truck    AK          2875       0               21
Air      AK          2568       4               65
         AK         94896     905             5211
         AK         35776     256              491
         AK        169358     536            11560

In [18]:
idx = df_numeric.idxmax()
idx

VALUE              (Pipeline, IL)
SHIPWT             (Pipeline, IL)
FREIGHT_CHARGES    (Pipeline, IL)
dtype: object

In [19]:
df_idx = df_numeric.loc[idx]

In [22]:
# df_idx.style.highlight_max()